<style>
    .profile {
        width: 80%;
        margin-bottom: 20px;
        border-radius: 100%;
    }
</style>

    <div class="main-content-wrap sidenav-open d-flex flex-column">

        <div class="container">
            <div class="row">
                <div class="col-3 card text-center card-body">
                    <img src="{{ asset(details(app.user).getProfilePicture()) }}" alt="{{ app.user.getEmail() }}"
                         class="profile m-auto">
                    <h5 class="mt-1">{{ details(app.user).getEmail() }}</h5>
                    <p>
                        {{ details(app.user).getTimezone() }}
                    </p>
                    <p><a href="{{ url("profile.edit") }}" class="link">Edit Profile</a></p>
                </div>
                <div class="col-9">
                    <div class="card p-1">
                        <h2 class="text-center">
                            {% if app.user.getUserTableName() == 'guardian' %}
                                {{ details(app.user).getName() }}
                            {% elseif  app.user.getUserTableName() == 'student' %}
                                {{ details(app.user).getFullName() }}
                            {% else %}
                                {{ details(app.user).getFullName() }}
                            {% endif %}
                        </h2>
                        <p class="text-center">
                            <i>
                                {% if app.user.getUserTableName() == 'guardian' %}
                                    Guardian in {{ soft("name") }}
                                {% elseif  app.user.getUserTableName() == 'student' %}
                                    Student in {{ soft("name") }}
                                {% else %}
                                    Teacher in {{ soft("name") }}
                                {% endif %}
                            </i>
                        </p>
                    </div>

                    {#                        Soft Info #}
                    {% if app.user.getUserTableName() == 'guardian' %}
                    <div class="col-md-12 mt-3">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="card card-icon mb-4">
                                    <div class="card-body text-center">
                                        <i class="i-Data-Upload"></i>
                                        <p class="text-muted mt-2 mb-2">Total Students</p>
                                        <p class="text-primary text-24 line-height-1 m-0">05</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="card card-icon mb-4">
                                    <div class="card-body text-center">
                                        <i class="i-Add-User"></i>
                                        <p class="text-muted mt-2 mb-2">Total Used Hours</p>
                                        <p class="text-primary text-24 line-height-1 m-0">11</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="card card-icon mb-4">
                                    <div class="card-body text-center">
                                        <i class="i-Money-2"></i>
                                        <p class="text-muted mt-2 mb-2">Total Hours Remaining</p>
                                        <p class="text-primary text-24 line-height-1 m-0">09</p>
                                    </div>
                                </div>
                            </div>


                        </div>

                        {% endif %}



                        {% if app.user.getUserTableName() == 'teacher' %}
                        <div class="col-md-12 mt-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="card card-icon mb-4">
                                        <div class="card-body text-center">
                                            <i class="i-Data-Upload"></i>
                                            <p class="text-muted mt-2 mb-2">Total Students</p>
                                            <p class="text-primary text-24 line-height-1 m-0">05</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="card card-icon mb-4">
                                        <div class="card-body text-center">
                                            <i class="i-Add-User"></i>
                                            <p class="text-muted mt-2 mb-2">Total Hours in Account</p>
                                            <p class="text-primary text-24 line-height-1 m-0">11</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="card card-icon mb-4">
                                        <div class="card-body text-center">
                                            <i class="i-Money-2"></i>
                                            <p class="text-muted mt-2 mb-2">Total Class Attended</p>
                                            <p class="text-primary text-24 line-height-1 m-0">09</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="card card-icon mb-4">
                                        <div class="card-body text-center">
                                            <i class="i-Warning-Window"></i>
                                            <p class="text-muted mt-2 mb-2">Total Class Missed</p>
                                            <p class="text-primary text-24 line-height-1 m-0">09</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="card card-icon mb-4">
                                        <div class="card-body text-center">
                                            <i class="i-Pen-2"></i>
                                            <p class="text-muted mt-2 mb-2">Total Pending Progress Notes</p>
                                            <p class="text-primary text-24 line-height-1 m-0">09</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="card card-icon mb-4">
                                        <div class="card-body text-center">
                                            <i class="i-Eraser-2"></i>
                                            <p class="text-muted mt-2 mb-2">Total Cancelled Classes</p>
                                            <p class="text-primary text-24 line-height-1 m-0">09</p>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            {% endif %}


                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>
