{% extends 'auth.html.twig' %}

{% block title %}Student Register{% endblock %}

{% block body %}
    <div class="icon text-center">
        <img src="{{ soft("icon") }}" alt="{{ soft("name") }}" width="100px">
    </div>
    <div class="container">
        <header>
            <h1>Register</h1>
            <h4> Personal Information </h4>
        </header>
        {{ form_start(form,{
            'attr':{
                'onSubmit':"loadForm(event,this)"
            }
        }) }}
        <div>

            {# For convenience sake of this snippet, store the errors in a variable #}
            {% set formErrors = form.vars.errors.form.getErrors(true) %}

            {# If there are errors in the form, display them in this unorganized list #}
            {% if formErrors|length %}
                <ul>
                    {% for error in formErrors %}
                        <li class="alert alert-danger">{{ form_child(error.cause.propertyPath) }} : {{ error.message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}


            {{ form_errors(form,{
                row_attr:{
                    class: "alert alert-danger"
                }
            }) }}
        </div>
        <div class="first-page">
            <div class="form-group">

                {{ form_row(form.GuardianName, {
                    attr: {
                        class: 'form-control'
                    },
                    row_attr:{
                        class: 'form-container'
                    },
                    label_attr: {
                        class: 'form-label'
                    }
                }) }}
            </div>
            <div class="form-group">
                {{ form_row(form.Email,{
                    attr: {
                        class: 'form-control'
                    },
                    row_attr:{
                        class: 'form-container'
                    },
                    label_attr: {
                        class: 'form-label'
                    }
                }) }}
            </div>
            <div class="form-group">
                {{ form_row(form.Whatsapp,{
                    attr: {
                        class: 'form-control'
                    },
                    row_attr:{
                        class: 'form-container'
                    },
                    label_attr: {
                        class: 'form-label'
                    }
                }) }}
            </div>
            <div class="form-group">
                {{ form_row(form.Timezone,{
                    label_attr: {
                        class: 'form-label'
                    },
                    row_attr:{
                        class: 'form-container'
                    }
                }) }}
            </div>
            <div class="form-group">
                {{ form_row(form.ProfilePicture,{
                    attr: {
                        class: 'form-control'
                    },
                    row_attr:{
                        class: 'form-container'
                    },
                    label_attr: {
                        class: 'form-label'
                    }
                }) }}
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        {{ form_row(form.AddressCity,{
                            attr: {
                                class: 'form-control'
                            },
                            row_attr:{
                                class: 'form-container'
                            },
                            label_attr: {
                                class: 'form-label'
                            }
                        }) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(form.AddressState,{
                            attr: {
                                class: 'form-control'
                            },
                            row_attr:{
                                class: 'form-container'
                            },
                            label_attr: {
                                class: 'form-label'
                            }
                        }) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form_row(form.Country,{
                    label_attr: {
                        class: 'form-label'
                    },

                    row_attr:{
                        class: 'form-container'
                    }
                }) }}
            </div>
            <div class="form-group">
                <div class="form-container">
                    <h2>{{ tr("Student Details") }}</h2>
                </div>
            </div>

        </div>

        <div class="second-page">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-8">
                        {{ form_row(form.StudentNumber,{
                            attr: {
                                class: 'form-control studentNumber',
                                value: 0,
                                readonly: "readonly",
                            },
                            row_attr:{
                                class: 'form-container'
                            },
                            label_attr: {
                                class: 'form-label'
                            },
                        }) }}
                    </div>
                    <div class="col-sm-4">
                        <div class="form-container">
                            <label for="form-label">Add Student</label>
                            <div>
                                <a href="javascript:void(0)" onclick="addStudent()" class="btn btn-success"><i
                                            class="i-Add"></i> Add New</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="auto-form">
                    {#                    This Content Will Be Dynamic Query                  #}


                    {#                    End Dynamic Contents #}
                </div>
                <div class="studentDynamicPlace">
                    <input type="hidden" id="dynamicPlace" name="dynamicPlace" value="1">
                </div>

            </div>
        </div>

        <div class="form-group">
            <div class="form-container">
                <h2>{{ tr("Class Info") }}</h2>
            </div>
        </div>


        <div class="third-page">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_row(form.Saturday,{
                            label_attr: {
                                class: 'form-label',
                            },

                            row_attr:{
                                class: 'form-container'
                            }
                        }) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_row(form.Sunday,{
                            label_attr: {
                                class: 'form-label',
                            },

                            row_attr:{
                                class: 'form-container'
                            }
                        }) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_row(form.Monday,{
                            label_attr: {
                                class: 'form-label',
                            },

                            row_attr:{
                                class: 'form-container'
                            }
                        }) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_row(form.Tuesday,{
                            label_attr: {
                                class: 'form-label',
                            },

                            row_attr:{
                                class: 'form-container'
                            }
                        }) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_row(form.Wednesday,{
                            label_attr: {
                                class: 'form-label',
                            },

                            row_attr:{
                                class: 'form-container'
                            }
                        }) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_row(form.Thursday,{
                            label_attr: {
                                class: 'form-label',
                            },

                            row_attr:{
                                class: 'form-container'
                            }
                        }) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_row(form.Friday,{
                            label_attr: {
                                class: 'form-label',
                            },

                            row_attr:{
                                class: 'form-container'
                            }
                        }) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_row(form.TimesAweek,{
                            attr: {
                                class: 'form-control'
                            },
                            label_attr: {
                                class: 'form-label',
                            },

                            row_attr:{
                                class: 'form-container'
                            }
                        }) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_row(form.PossibleDate,{
                            label_attr: {
                                class: 'form-label',
                            },
                            attr:{
                                class: 'possibleDate'
                            },

                            row_attr:{
                                class: 'form-container'
                            }
                        }) }}
                    </div>
                </div>
            </div>
            <div class="form-group" style="overflow: hidden">
                {{ form_row(form.AdditionalNote,{
                    attr: {
                        class: 'form-control'
                    },
                    row_attr:{
                        class: 'form-container'
                    },
                    label_attr: {
                        class: 'form-label'
                    }
                }) }}
            </div>

            <div class="form-group" style="overflow: hidden">
                {{ form_row(form.Register,{
                    attr: {
                        class: 'btn btn-info'
                    },
                    row_attr:{
                        class: 'form-container'
                    },
                    label_attr: {
                        class: 'form-label'
                    }
                }) }}


                {{ form_row(form.StudentDetails,{
                    attr: {
                        class: 'StudentDetails'
                    }
                }) }}
                <div class="float-right">
                    <a href="{{ url("register_teacher") }}" class="btn btn-link">Login</a>
                    <a href="{{ url("register_teacher") }}" class="btn btn-link">Teacher Register</a>
                </div>
            </div>
        </div>
        <style>
            .possibleDate .single {
                width: 30%;
                display: inline-block;
                margin: 1%;
            }
        </style>

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block jquery %}
    <script src="{{ asset('/query/js/auth-login.js') }}"></script>
{% endblock %}
