{% extends 'base.html.twig' %}

{% block title %}{{ tr("Login Into Platform") }}{% endblock %}

{% block body %}
    <style>
        body {
            background: #e1e9e5;
        }

        .container {
            border: 1px solid #ccc;
            background: white;
            box-shadow: 0px 0px 3px 3px #ccc;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            max-width: 500px;
        }

        .container .first {
            text-align: center;
        }

        .form-control {
            margin-bottom: 10px
        }

    </style>
    <div class="container">

        <div class="fadeIn first">
            <img src="{{ asset('images/fev.png') }}" style="width: 150px" id="icon"
                 alt="User Icon">
        </div>

        <form method="post">

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                   autocomplete="email" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control"
                   autocomplete="current-password" required>

            <label for="_remember_me">
                <input type="checkbox" id="_remember_me" name="_remember_me"> Remember Me</label>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            #}
            <br>
            <button class="btn btn-lg btn-primary float-left" type="submit">
                Sign in
            </button>
        </form>

        <div class="float-right">
            <a href="{{ url("register_student") }}" class="btn btn-link">Guardian Register</a>
            <a href="{{ url("register_teacher") }}" class="btn btn-link">Teacher Register</a>
        </div>
    </div>

{% endblock %}
