<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}

        <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('/src/assets/styles/vendor/datatables.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/src/assets/styles/css/themes/lite-purple.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/src/assets/styles/vendor/perfect-scrollbar.css') }}">
        <link rel="stylesheet" href="{{ asset('/plugins/selectize.css') }}">
        <link rel="stylesheet" href="{{ asset('/src/assets/styles/vendor/sweetalert2.min.css') }}">

    {% endblock %}
    {{ encore_entry_script_tags('app') }}


</head>
<body>
{% block body %}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/src/assets/js/vendor/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('/src/assets/js/vendor/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('/src/assets/js/vendor/perfect-scrollbar.min.js') }}"></script>
    <script src="{{ asset('/src/assets/js/vendor/echarts.min.js') }}"></script>
    <script src="{{ asset('/src/assets/js/vendor/datatables.min.js') }}"></script>
    <script src="{{ asset('/src/assets/js/vendor/sweetalert2.min.js') }}"></script>

    <script src="{{ asset('/src/assets/js/es5/echart.options.min.js') }}"></script>
    <script src="{{ asset('/src/assets/js/es5/dashboard.v2.script.min.js') }}"></script>
    <script src="{{ asset('/plugins/selectize.js') }}"></script>

    <script src="{{ asset('/src/assets/js/es5/script.min.js') }}"></script>
    <script src="{{ asset('/src/assets/js/es5/sidebar.large.script.min.js') }}"></script>

{% endblock %}

{% block jquery %}
{% endblock %}
</body>
</html>
